{% if options.menu %}
<div class="col-sm-12 col-md-12 col-lg-2 col-xl-2 d-none d-lg-block d-xl-block text-center align-middle">
	<nav id="menu" class="navbar justify-content-end">
		<div class="menu-list list-group">
			<div class="list-group-item static-item"><i class="fas fa-bars"></i> Menu</div>
			{% for item in options.menu %}
				{% if item.enabled %}
				<a class="menu-list-link list-group-item {% if post.post_name == item.link.post_name %}active-page{% endif %}" href="{{ function('get_permalink', item.link.ID) }}">
					<div class="menu-list tracking-in-expand">
						{{item.icon}} {{item.label}}
					</div>
				</a>
				{% endif %}
			{% endfor %}
		</div>
	</nav>
</div>
<div class="col-12 d-block d-sm-block d-md-block d-lg-none d-xl-none">
	<nav id="mobile-menu" class="navbar justify-content-end">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span> Menu
		</button>
		<div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
			<div class="navbar-nav text-center">
				{% for item in options.menu %}
					{% if item.enabled %}
						<a class="nav-item nav-link {% if post.post_name == item.link.post_name %}active-page{% endif %}" href="{{ function('get_permalink', item.link.ID) }}">{{item.icon}} {{item.label}}</a>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</nav>
</div>
{% endif %}
